<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News</title>
</head>
<body>
<p>wow</p>
{% for entry in news %}
<article style="border: 1px solid aqua">
    <time>{{ entry.date }}</time> <h2>{{ entry.name }}</h2><p>{{ entry.content }}</p>
</article>
{% endfor %}
</body>
</html>